@font-face{
    font-family: phearum;
    src:url(../font/romnea.ttf)
}
body{
   background: #e5e5e5; 
}
#filter{
    margin-top: 40px;
}
h2{
    font-family: phearum;
    text-shadow: 1px 1px 5px #bababa;
    color: #039d67;
}
#wrapper{
    text-align: center;
}
div#display{
    margin-top: 20px;
}
img{
    width: 35px;
    overflow: hidden;
}

/* Overrided Bootstrap */
th{
  text-align: center;
  background: #039d67;
  color:#fff;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
.modal-header h4{
    font-family: phearum;
}